section.about#about
  .container
    .stats
      p#19.a TOTAL REVENUE GENERATED
      p#20.title $118 THOUSAND
      .cards
        .card
          p#21.name CLIENT HELPED
          p(class="number", data-goal="11") 0
        .card
          p#22.name TOTAL AD SPEND
          p.number.money $
            span(class="number", data-goal="22") 0
        .card
          p#23.name OFFICES
          p(class="number") 0
        .card
          p#24.name SERVICES OFFER
          p(class="number", data-goal="5") 0
    .content(data-aos="fade-up")
      p#25.a ABOUT US
      p#26.b Our philosophy is simple yet powerful: we believe in the transformative potential of digital marketing to empower businesses of all sizes. We're committed to delivering excellence through a combination of creativity, innovation, and genuine care for our clients' success.
      p#27.c Need a boost to your company ?
      a(href="contact.html", target="_blank")
        button
          p#28.text  CONTACT THE TEAM
          p#29.description Schedule a FREE call now