section.clients#clients
  .container
    .content
      p#42.title Big name that trust us 
      p#43.description We're honored to work with some of the biggest names in the industry who trust us to elevate their digital presence.
    .cards
      .row
        .card(data-aos="fade-up", data-aos-delay="0")
          .icon
            img(src="assets/images/blue-logo.png", alt="Client Img")
          .data
            p.name SAJEM
            p.job Fragrances
            p.region KSA
        .card(data-aos="fade-up", data-aos-delay="150")
          .icon
            img(src="assets/images/blue-logo.png", alt="Client Img")
          .data
            p.name MENTALITY
            p.job Clinic
            p.region ARE
      .row
        .card(data-aos="fade-up", data-aos-delay="300")
          .icon
            img(src="assets/images/blue-logo.png", alt="Client Img")
          .data
            p.name EDUTUDY
            p.job Educational
            p.region TRKY
        .card(data-aos="fade-up", data-aos-delay="450")
          .icon
            img(src="assets/images/blue-logo.png", alt="Client Img")
          .data
            p.name ALLEMNY
            p.job Education
            p.region KW