section.contact#contactPage
  .container
    .card
      .header
        .data
          .icon
            img(src="assets/images/omar-full.png", alt="Card Logo")
          .info
            p.name Omar Umran
            p.job CEO & FOUNDER
        .logo 
          img(src="assets/images/blue-logo.png", alt="Logo")
      .body
        p#49.title SCHEDULE A FREE CALL WITH OMAR
        p#50.description By the end of this Audit call, you will have a clear understanding of the next steps you can take for your business to start generating consistent and reliable results online with Funnels & Paid Advertising.
        .wrapper
          ul
            p#51.ul-title THIS CALL IS PERFECT FOR :
            li.item(data-aos="fade-up", data-aos-delay="0")
              p#52 Businesses wanting to turn their website into a high-converting funnel using digital marketing.
            li.item(data-aos="fade-up", data-aos-delay="150")
              p#53 Offline businesses ready to go online with effective digital marketing strategies.
            li.item(data-aos="fade-up", data-aos-delay="300")
              p#54 Companies aiming to boost revenue with sales funnels and conversion optimization.
            li.item(data-aos="fade-up", data-aos-delay="450")
              p#55 Those looking to improve conversion rates and order value through targeted paid ads.
            li.item(data-aos="fade-up", data-aos-delay="600")
              p#56 Businesses seeking a reliable agency with expertise in digital marketing and paid advertising.
          a(href="contact.html", target="_blank")
            button
              p#57.text SCHEDULE A CALL NOW