span#scroll-up
  i.fas.fa-angles-up
footer
  .container
    .content
      p#63.title We do grant things together !
      p#64.description If you want to speak to our expert team kindly reach us via email at: oiamediaofficial@gmail.com
    .btns
      a(href="contact.html", target="_blank")
        button(type='submit', class="contact-btn", target="_blank")
          p#65.text CONTACT THE TEAM
          p#66.description Schedule a FREE call now
      p#67 or
      a(href="https://wa.me/+201015484767", target="_blank")
        button(type='submit', class="hire-btn", target="_blank")
          p#68.text GET HIRED
          p#69.description Join our team now
    .social-platforms
      //- .platform
      //-   a(href="https://www.facebook.com/abdo492" target="_blank")
      //-     i(class="fa-brands fa-facebook" style="color: var(--slogan-color);")
      //- .platform
      //-   a(href="https://github.com/AbdElRhman492" target="_blank")
      //-     i(class="fa-brands fa-github" style="color: var(--text-color-light);")
      .platform
        a(href="https://wa.me/+201099144423" target="_blank")
          i(class="fa-brands fa-whatsapp" style="color: #188f58;")
      //- .platform
      //-   a(href="https://www.linkedin.com/in/abd-ul-rhman-nasr-3b9304232/" target="_blank")
      //-     i(class="fa-brands fa-linkedin" style="color: #0a66c2;")
    .rights
      .icon
        img(src="assets/images/logo.png", alt="OIA Media")
      p#70 All rights reserved




// ----- Font Awesome Library -----
script(src="assets/libraries/js/all.min.js") 

// ----- Aos Library -----
script(src="assets/libraries/js/aos.js") 

// ----- Stylesheets -----
script(src="assets/js/all.js")
script(src="assets/js/index.js")
script(src="assets/js/services.js")
script(src="assets/js/contact.js")
script(src="assets/js/hire.js")