section.hero#hero
  .container
    .content(data-aos="fade-right")
      h1#13.title Welcome to OIA
      p#14.description1 We're all about making your online presence shine. Whether you're just starting out or already a big player, we've got your back with fresh and creative strategies to get you noticed.
      p#15.description2 From social media to search engine smarts, we've got the tools and the team to help your business grow online.
      p#16.slogan Let's make magic happen together at OIA Media!
      a(href="contact.html", target="_blank")
        button
          p#17.text  CONTACT THE TEAM
          p#18.description Schedule a FREE call now
    .hero-img
      img(src="assets/images/dart_pc.png", alt="Hero Landing Image", class="dart_pc")
      img(src="assets/images/dart_phone.png", alt="Hero Landing Image", class="dart_phone")