section.opinions#opinions
  .container
    p#58.title Client's opinions about us
    .cards
      .row
        .card(data-aos="fade-up", data-aos-delay="0")
          .data
            .icon 
              img(src="assets/images/omar-full.png", alt="image")
            .about
              p.name Sajem
              p.job Fragrances | KSA
          p#59.description A great experience work with this team !
        .card(data-aos="fade-up", data-aos-delay="150") 
          .data
            .icon 
              img(src="assets/images/omar-full.png", alt="image")
            .about
              p.name Sajem
              p.job Fragrances | KSA
          p#60.description A great experience work with this team !
      .row
        .card(data-aos="fade-up", data-aos-delay="300") 
          .data
            .icon 
              img(src="assets/images/omar-full.png", alt="image")
            .about
              p.name Sajem
              p.job Fragrances | KSA
          p#61.description A great experience work with this team !
        .card(data-aos="fade-up", data-aos-delay="450") 
          .data
            .icon 
              img(src="assets/images/omar-full.png", alt="image")
            .about
              p.name Sajem
              p.job Fragrances | KSA
          p#62.description A great experience work with this team !